h1 {
	margin: auto;
	text-align: center;
	font-family: Verdana, sans-serif;
	margin-top: 13px;
  padding-top: 30px;
}

body {
  background-image: url("http://img11.hostingpics.net/pics/174172back1blurlum.jpg");
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: 100% 100%;     /* Gecko */
  -o-background-size: 100% 100%;        /* Opera  */
  -webkit-background-size: 100% 100%;   /* Safari  */
  background-size: 100% 100%;           /* Firefox */ 
  background-color: black;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: auto;
}

p, ol, ul, td {
  font-family: helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: white;
}

pre {
  background-color: white;
  padding: 10px;
  font-size: 11px;
}


a {
  color: yellow;
  text-decoration: none;

  &:visited {
    color: white;
  }

  &:hover {
    color: white;
  }
}

.plus{
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

#help {
  font-size: 30px;
  color: green;
  position: absolute;
  right: 35px;
  height: 30px;
  width: 30px;

}

table {
	margin: auto;
}

#notice {
  color: red;
  font-family: Arial Narrow, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}

.noone {
  font-family: Arial Narrow, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: auto;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

img {
	width: 100%;
	max-height: 5em;

}

td {
  padding-left: 30px;
  padding-bottom: 5px;
}

th {
  padding-left: 30px;
  font-size: 15px;
  padding-bottom: 10px;
}

.cshow {
  margin: auto;
  text-align: center;
}

.cedit {
  margin: auto;
  text-align: center;
}

.cnew {
  margin: auto;
  text-align: center;
}

.bas {
  position: absolute; 
  bottom: 0; left: 0; right: 0;
  position: fixed;
  text-align: center; 
  background-color: #17202a;
}

.bk {
  text-align: center;
  margin: auto;
  font-size: 25px;
  padding-top: 25px;
}

.recherche {
  text-align: center;
  padding-bottom: 25px;
}

.yt {
  height: 50px;
  width: 100px;
  margin: auto;
  padding-bottom: 25px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

