.trigger{
  font-size: 2em;
  text-transform: uppercase;
  display: block;
  margin-left: 96%;
  cursor: pointer;
  width: 10px;
}

.popup__textbox{
  color: #A4A4A4;
  line-height: 25px;
  font-size: 1.1em;
  letter-spacing: 1px;  
  text-align: center;
}

/* Start popup css */

@keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
  100% {transform: scale(1);}
}

@-webkit-keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
  100% {transform: scale(1);}
}

.popup__check{
  display: none;
}

.popup__base, .popup__bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor:zoom-out;
}

.popup__base{
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.popup__check:checked + .popup__base{
  display: block;
  animation-name: bg;
    animation-duration: .5s;
  animation-fill-mode:forwards;
  -webkit-animation-name: bg;
    -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode:forwards;
}

.popup__inner{
  position: absolute;
  z-index: 10;
  width: 70%;
  height: 30%;
  background-color: #fff;
  opacity: 0.85;
  top: 15%;
  left: 15%;
  display: block;
  cursor:default;
}

.popup__check:checked + .popup__base .popup__inner{
  animation-name: inner;
    animation-duration: .5s;
  animation-fill-mode:forwards;
  -webkit-animation-name: inner;
    -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode:forwards;
}

.popup__textbox{
  height: 95%;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 10px;
  overflow: auto;
}

.popup__calign{
  float: right;
  padding-right: 60px;
  font-size: 50px;
}

.popup__close{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: block;
  position: absolute;
  z-index: 10;
  text-align: right;
  cursor: pointer;
  color: red;
  opacity: 0.;
  padding-top: 15px;
}

.plus{
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 50%;
  font-size: 32px;
  display: inline-block;
  text-decoration: none;
}


.blink {
    animation-name: blinker;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

.blink:hover {
    animation-play-state: paused;
}

@keyframes blinker {
    0% {opacity: 1.0}
    50% {opacity: 0.4}
    100% {opacity: 1.0}
  }

.blinknew {
    animation-name: blinkernew;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

.blinknew:hover {
    animation-play-state: paused;
}

@keyframes blinkernew {
    0% {opacity: 0.5}
    60% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0.5}
  }


h1 {
	margin: auto;
	text-align: center;
  font-family: 'Unica One', cursive;
	margin-top: 13px;
  padding-top: 26px;
  font-size: 30px;
}

body {
  background-image: url("http://img11.hostingpics.net/pics/174172back1blurlum.jpg");
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: 100% 100%;     /* Gecko */
  -o-background-size: 100% 100%;        /* Opera  */
  -webkit-background-size: 100% 100%;   /* Safari  */
  background-size: 100% 100%;           /* Firefox */ 
  background-color: black;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: auto;
}

p, ol, ul, td {
  font-family: helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: white;
}

pre {
  background-color: white;
  padding: 10px;
  font-size: 11px;
}


a {
  color: yellow;
  text-decoration: none;  
  &:hover {
    color: white;
  }
}

table {
	margin: auto;
}

#notice {
  color: red;
  font-family: helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;

}

.noone {
  color: red;
  font-family: helvetica, sans-serif;
  font-size: 14 px;
  text-align: center;
  margin: auto;
  font-style: italic;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

img {
	width: 100%;
	max-height: 5em;

}

td {
  padding-left: 30px;
  padding-bottom: 5px;
}

th {
  padding-left: 30px;
  font-size: 15px;
  padding-bottom: 10px;
}

.cshow {
  margin: auto;
  text-align: center;
}

.cedit {
  margin: auto;
  text-align: center;
}

.cnew {
  margin: auto;
  text-align: center;
}

.bas {
  position: absolute; 
  bottom: 0; left: 0; right: 0;
  position: fixed;
  text-align: center; 
  background-color: #17202a;
}

.bk {
  text-align: center;
  margin: auto;
  font-size: 25px;
  padding-top: 25px;
}

.recherche {
  text-align: center;
  padding-bottom: 25px;
  margin:auto;
}

.youtube {
  height: 50px;
  width: 100px;
  margin: auto;
  padding-bottom: 40px;
  display: inline-block;
  padding-right: 13px;

}

.soundcloud {
  height: 50px;
  width: 100px;
  margin: auto;
  padding-bottom: 40px;
  display: inline-block;
  padding-left: 13px;
  
}

.spaceform {
  line-height: 30px;
}

.actions {
  padding-top: 40px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }


}

