<h1>EDITION</h1>

<div class="cedit">
	<img src="http://compassionmovement.org/wp-content/uploads/2016/02/Feb-web-yellow-line.png"/>

	<%= render 'form' %>
</div>
<div class="bk">
	<%= link_to '⧼', musics_path %>
</div>
<p id="notice"><%= notice %></p>