<h1>É D I T I O N</h1>

<div class="cedit">
	<img src="http://compassionmovement.org/wp-content/uploads/2016/02/Feb-web-yellow-line.png"/>

<p id="notice"><%= notice %></p>

	<div class="spaceform">
		<%= render 'form' %>
	</div>
	
</div>
<div class="bk">
	<%= link_to '⇦', musics_path %>
</div>
