<h1><font style="color:#A4A4A4;">N O U V E L L E </font>&nbspM U S I Q U E</h1>

<div class="cnew">
<img src="http://compassionmovement.org/wp-content/uploads/2016/02/Feb-web-yellow-line.png"/>

<p id="notice"><%= notice %></p>

	<div class="spaceform">
		<%= render 'form' %>
	</div>
	
</div>
<div class="bk">
	<%= link_to '⇦', musics_path %>
</div>


