<h1>N O U V E L L E <font style="color:#A4A4A4;">M U S I Q U E</font></h1>

<div class="cnew">
<img src="http://compassionmovement.org/wp-content/uploads/2016/02/Feb-web-yellow-line.png"/>

<p id="notice"><%= notice %></p>

	<%= render 'form' %>
</div>
<div class="bk">
	<%= link_to '⧼', musics_path %>
</div>


